# ECLIPSE
.settings/
.project
.classpath

# TARGET DIR
target/

# REACT BUILD DIR
src/main/java/webapp/WEB-INF/roster-review-app/build/

# NODE
src/main/java/webapp/WEB-INF/roster-review-app/node/
src/main/java/webapp/WEB-INF/roster-review-app/node_modules/

# LOCAL DATASOURCE PROPERTIES
datasource.properties

# LOCAL LOGGING CONFIGURATION
log4j2.xml
